.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .reset-password-form {
    border: 1px solid #ccc;
    padding: 80px;
    border-radius: 10px;
    background-color: #f5f5f5;
    max-width: 400px;
    margin-bottom: 20px;

  }
  
  .header {
    
    position:relative;
    left: 0px;
    bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(115, 178, 157);
  }
  
  .password-input,
  .token-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .message {
    text-align: center;
    color: red;
  }
  